<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935341338218-iufqq5fohmpkqjmntojlct5kj1a0tsml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935341338218-iufqq5fohmpkqjmntojlct5kj1a0tsml</string>
	<key>API_KEY</key>
	<string>AIzaSyBlP0wXsmlmQNajEn28JPsC0-VCv0JPWKY</string>
	<key>GCM_SENDER_ID</key>
	<string>935341338218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qstudio.blitz</string>
	<key>PROJECT_ID</key>
	<string>hydrogen-6d7eb</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrogen-6d7eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935341338218:ios:11148b7fa0b780a7176413</string>
</dict>
</plist>